USE [DR2_Local]
GO
/****** Object:  Table [dbo].[TB_LuckyStarEventJoinReward]    Script Date: 09/09/2009 11:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LuckyStarEventJoinReward](
	[EventId] [int] NOT NULL,
	[RewardId] [int] NOT NULL
) ON [PRIMARY]
