USE [DR2_User]
GO
/****** Object:  Table [dbo].[TB_RemoveCharacter]    Script Date: 08/20/2009 14:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_RemoveCharacter](
	[CharacterGuid] [uniqueidentifier] NOT NULL
) ON [PRIMARY]


