USE [DR2_Log]
GO

IF EXISTS(SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TB_DefConvert2Nc]') AND [type] IN (N'U'))
BEGIN
	DROP TABLE [dbo].[TB_DefConvert2Nc]
END

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[TB_DefConvertLog2NC]    Script Date: 06/24/2010 14:18:19 ******/
IF NOT EXISTS(SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TB_DefConvertLog2NC]') AND [type] IN (N'U'))
BEGIN
	CREATE TABLE [dbo].[TB_DefConvertLog2NC](
		[f_NC_LogMemo] [nvarchar](50) NOT NULL,
		[f_NC_Log_ModelType] [int] NOT NULL CONSTRAINT [DF_TB_DefConvertLog2NC_f_NC_LogType]  DEFAULT ((0)),
		[f_DR_LogType] [int] NOT NULL,
		[f_DR_SubLogType] [int] NOT NULL,
		[f_DR_OrderType] [int] NOT NULL,
		[f_DR_ActionType] [int] NOT NULL,
		[f_DR_LogMemo] [nvarchar](50) NOT NULL,
		[f_NC_LogID] [int] NOT NULL,
		[f_NC_iData1] [nvarchar](50) NOT NULL,
		[f_NC_iData2] [nvarchar](50) NOT NULL,
		[f_NC_iData3] [nvarchar](50) NOT NULL,
		[f_NC_iData4] [nvarchar](50) NOT NULL,
		[f_NC_iData5] [nvarchar](50) NOT NULL,
		[f_NC_iData6] [nvarchar](50) NOT NULL,
		[f_NC_iData7] [nvarchar](50) NOT NULL,
		[f_NC_bData1] [nvarchar](50) NOT NULL,
		[f_NC_bData2] [nvarchar](50) NOT NULL,
		[f_NC_bData3] [nvarchar](50) NOT NULL,
		[f_NC_bData4] [nvarchar](50) NOT NULL,
		[f_NC_bData5] [nvarchar](50) NOT NULL,
		[f_NC_bData6] [nvarchar](50) NOT NULL,
		[f_NC_sData1] [nvarchar](50) NOT NULL,
		[f_NC_sData2] [nvarchar](50) NOT NULL,
		[f_NC_sData3] [nvarchar](50) NOT NULL,
		[f_NC_sData4] [nvarchar](50) NOT NULL,
		[f_NC_sData5] [nvarchar](50) NOT NULL,
		[f_NC_sData6] [nvarchar](50) NOT NULL,
		[f_NC_sData7] [nvarchar](50) NOT NULL,
		[f_NC_sData8] [nvarchar](50) NOT NULL,
		[f_NC_sData9] [nvarchar](50) NOT NULL,
		[f_NC_sData10] [nvarchar](50) NOT NULL,
		[f_NC_sData11] [nvarchar](50) NOT NULL,
		[f_NC_sData12] [nvarchar](50) NOT NULL,
		[f_NC_sData13] [nvarchar](50) NOT NULL,
		[f_NC_sData14] [nvarchar](50) NOT NULL,
		[f_NC_sData15] [nvarchar](50) NOT NULL,
	 CONSTRAINT [PK_TB_DefConvertLog2NC] PRIMARY KEY CLUSTERED 
	(
		[f_DR_LogType] ASC,
		[f_DR_SubLogType] ASC,
		[f_DR_OrderType] ASC,
		[f_DR_ActionType] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
END





TRUNCATE TABLE [dbo].[TB_DefConvertLog2NC]

--INSERT INTO [dbo].[TB_DefConvertLog2NC] ([f_NC_LogMemo],[f_NC_Log_ModelType],[f_DR_LogType],[f_DR_SubLogType],[f_DR_OrderType],[f_DR_ActionType],[f_DR_LogMemo],[f_NC_LogID],[f_NC_iData1],[f_NC_iData2],[f_NC_iData3],[f_NC_iData4],[f_NC_iData5],[f_NC_iData6],[f_NC_iData7],[f_NC_bData1],[f_NC_bData2],[f_NC_bData3],[f_NC_bData4],[f_NC_bData5],[f_NC_bData6],[f_NC_sData1],[f_NC_sData2],[f_NC_sData3],[f_NC_sData4],[f_NC_sData5],[f_NC_sData6],[f_NC_sData7],[f_NC_sData8],[f_NC_sData9],[f_NC_sData10],[f_NC_sData11],[f_NC_sData12],[f_NC_sData13],[f_NC_sData14],[f_NC_sData15]) VALUES (
